<mat-divider></mat-divider>
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Drones
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Buscar</p>
    <mat-divider></mat-divider>
    <p>Cadastrar</p>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rotas
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Buscar</p>
    <mat-divider></mat-divider>
    <p>Cadastrar</p>
  </mat-expansion-panel>
</mat-accordion>
